<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <br />
  <br />
  <h1 class="w3-xxlarge w3-text-black w3-wide" align="center"> ARE YOU READY TO FIND LOVE? </h1>
  <body>
  <div class="btn-group btn-group-justified">
    <a href="#" routerLink="/profile" class="btn btn-success">PROFILE</a>
    <a href="#" routerLink="/settings" class="btn btn-primary">SETTINGS</a>
    <a href="#" routerLink="/play" class="btn btn-danger">READY</a>
  </div>
  </body>
</div>

</body>
</html>


