<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <!-- Minified JS library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body>
<h1 class="w3-xxlarge w3-text-black w3-wide" align="center"> Do you want to meet...? </h1>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/girl1.png" target="_blank">
          <img src="assets/img/girl1.png" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/girl2.png" target="_blank">
          <img src="assets/img/girl2.png"style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/girl3.png" target="_blank">
          <img src="assets/img/girl3.png" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<h3 class="w3-xxlarge w3-text-black w3-wide" align="center"> Laura </h3>
<h3 class="w3-xxlarge w3-text-black w3-wide" align="center"> 22 </h3>
<h3 class="w3-xxlarge w3-text-black w3-wide" align="center"> Barcelona </h3>



<div class="container">
  <div class="col-md-offset-5 col-md-4">

  <div class="col-md-3">
    <a href="#" routerLink="/main" class="btn btn-info btn-lg btn-block btn-huge"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="col-md-3">
    <a href="#" routerLink="/chat" class="btn btn-danger btn-lg btn-block btn-huge"><span class="glyphicon glyphicon-heart"></span></a>
  </div>
  </div>
</div>






</body>
</html>
