<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/stylesheets/profile_style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Your profile</h1>
  <img src="assets/img/rusa.jpg" class="img-responsive img-circle margin custom_profile_image" alt="Bird" width="250" height="250">

  <h3 class="margin">Laura</h3>


  <div class="">
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user"></span> Change username
    </a>
    <br>
    <input [(ngModel)]="user.username" class="form-control"  placeholder="New username "style="margin-top: 10px;" name="username" id="username" required >
  </div>


  <h3 class="margin">23</h3>

  <h3 class="margin">Barcelona</h3>

  <div class="">
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-map-marker"></span> Change city
  </a>
    <br>
  <input type="city"  [(ngModel)]="user.city" class="form-control"  placeholder="New city "style="margin-top: 10px;" name="city" id="city" required >
  </div>



</div>

<!-- Segundo Container -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Your pictures</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/img/rusa.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <img src="assets/img/chorba.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4">
      <img src="assets/img/girl4.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
  <input type="file" #fileInput placeholder="Upload file..." />
  <button type="button" (click)="upload()">Add new</button>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-erase"></span> Delete
  </a>
</div>

<!-- Tercer Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Game Settings</h1>


  <h3 class="margin">Age range</h3>
  <div class="slidecontainer">
    <label for="myRangeDistance"></label>
    <input type="range" min="0" max="500" value="100" class="slider" id="myRangeDistance">
  </div>
  <br>

  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-user"></span> Apply
  </a>
  <br><br>
  <h3 class="margin">Distance (Km)</h3>
  <div class="slidecontainer">
    <label for="myRangeAge"></label>
    <input type="range" min="0" max="500" value="100" class="slider" id="myRangeAge">
  </div>
  <br>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-map-marker"></span> Apply
  </a>
  <br><br>
  <h3 class="margin">I'm looking for</h3>
  <!--<select class="form-control" formControlName="sex">-->
    <!--<option *ngFor="let se of sex" [value]="se">{{se}}</option>-->
  <!--</select>-->
  <br>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Apply
  </a>

  <br><br><br>
  <br><br><br>


<div class="">
  <a href="#" class="btn btn-danger btn-lg">
    <span class="glyphicon glyphicon-lock"></span> Change your password
  </a>
  <br>
  <input type="city"  [(ngModel)]="user.password" class="form-control"  placeholder="New password "style="margin-top: 10px;" name="password" id="password" required >
</div>

</div>








<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>LoveShot S.L.</p>
</footer>

</body>
</html>
